<div class="container text-center index_div">
    <h1>El Producto con ID: {{itemId}}</h1>
    <h1>Correspondiente al Carrito con ID: {{cartId}}</h1>
    <h2>¡Ha sido Eliminado!</h2>
    <a href="/carts" class="btn btn-primary">Volver</a>
</div>
