<section class="noAutorizado">
    <div class="container login nonono">
        <h1>Su compra se realizó exitosamente.!!</h1>
        <h1> Gracias por comprar en Lonne Open!</h1>
        <a href="/" class="btn btn-danger">Salir</a>
    </div>
</section>