<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">No está autorizado para entrar a esta página.</h1>
        <h1> ¡Debe tener nivel de administrador!</h1>
        <a href="/" class="btn btn-danger">Salir</a>
    </div>
</section>