<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">Usted no tiene productos en el Carrito.!</h1>
        <h1> ¡Realice una compra!</h1>
        <a href="/products" class="btn btn-danger">Ir a Comprar</a>
    </div>
</section>