<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">Error al obtener información del producto!</h1>        
        <h1>O el Producto No Existe.!</h1>
        <a href="/" class="btn btn-danger">Salir</a>
    </div>
</section>