<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">Los password no coinciden.!</h1>
        <h1> ¡Vuelva a intentarlo!</h1>
        <a href="/signup" class="btn btn-danger">Salir</a>
    </div>
</section>