<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">Hola {{user.first_name}} {{user.last_name}} {{user.user.first_name}}</h1>
        <h1>¡Su contraseña ha sido cambiada exitosamente!</h1>
        <a href="/login" class="btn btn-success">Iniciar Sesión</a>
    </div>
</section>