<div class="container text-center index_div">
    <h1>El Producto con ID: {{this.producto._id}}</h1>
    <h1>Denominado {{this.producto.title}}</h1>
    <h2>Ah sido Modificado.!!</h2>
    <a href="/productstable" class="btn btn-primary">Volver</a>
</div>
