
<div class="container text-center index_div">
    <h1>El Producto con ID: {{this.product._id}}</h1>
    <h1>Denominado {{this.product.title}}</h1>
    <h2>Ah sido Eliminado.!!</h2>
    <a href="/productstable" class="btn btn-primary">Volver</a>
</div>
