<head>
    <title>Restablecer contrase単a</title>
</head>
<section class="noAutorizado">
    <div class="container login nonono">
        <h1>Restablecer contrase単a</h1>
        <form action="/reset-password/{{token}}" method="POST">
            <div class="form-group">
                <label for="password">Nueva Contrase単a:</label>
                <div class="password-input">
                    <input type="password" class="form-control" id="password" name="password" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility()">Ver</span>
                </div>
            </div><br>
            <div class="col-auto">
                <input type="submit" class="btn btn-success" value="Restablecer contrase単a">
            </div>
        </form>
    </div>
</section>
<script src="/js/index.js"></script>