<head>
    <title>Restablecer contrase単a</title>
</head>
<section class="noAutorizado">
    <div class="container login nonono">
        <h1>Restablecer contrase単a</h1>
        <form action="/reset-password/{{token}}" method="POST">
        <div class="col-sm-10">
            <label for="password">Nueva contrase単a:</label>
            <input class="form-control" type="password" id="password" name="password" required>
            </div><br>
            <div class="col-auto">
            <input type="submit" class="btn btn-success"  value="Restablecer contrase単a">
            </div>
        </form>
    </div>
</section>