<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">El Usuario {{ user.first_name }} {{ user.last_name }} </h1>
        <h1 class="user-eliminado"><span>con ID: {{ user._id }}</span> </h1>      
        <h1>Ha sido eliminado.!</h1>  
        <a href="/users" class="btn btn-danger">Volver</a>
    </div>
</section>
