<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">Hola {{user.first_name}} {{user.last_name}} {{user.user.first_name}}</h1>
        <h1>¡Por ser Usuario Premium!</h1>
        <h2 class="descuento">
            Usted tiene:
            <span>20%</span> de descuento en todos los productos
        </h2>
        
        <a href="/" class="btn btn-danger">Volver</a>
    </div>
</section>
