<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">Hola de nuevo {{ user.first_name }} {{ user.last_name }}!</h1>
        <h1>Confirmamos que su cuenta ha sido Eliminada.!</h1>
        <h1>Revise su Email.!</h1>
        <h1>Esperamos que vuelva.!!</h1>
        <a href="/logout" class="btn btn-danger">Salir</a>
    </div>
</section>