<section class="noAutorizado">
    <div class="container login nonono">
        <img src="/img/fuegos-artificiales.gif" alt="Felicitaciones">
        <h1 class="red">El usuario {{ user.first_name }} {{user.last_name}} Es Premium!</h1>   
        <h5>Debe volver a Iniciar Sesion para que surta efecto los Cambios.!</h5>
        <a href="/logout" class="btn btn-danger">Salir</a>
    </div>
</section>