<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">Hubo un Error en el Proceso de Autenticación de Pago</h1>
        <h1> Por favor intente nuevamente.!</h1>
        <a href="/carts" class="btn btn-danger">Reintentar</a>
    </div>
</section>