<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">Hola {{user.first_name}} {{user.last_name}} {{user.user.first_name}}</h1>
        <h1>¡Usted no tiene productos en el Carrito!</h1>
        <h1> ¡Realice una compra!</h1>
        <a href="/" class="btn btn-danger">Ir a Comprar</a>
    </div>
</section>