<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">El Usuario No tiene Documentos Guardados!</h1>
        <h1> ¡Cargue un Documento y Vuelva a intentarlo!</h1>
        <a href="/users/profile/documents" class="btn btn-primary">Volver</a>        
    </div>
</section>