<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">Usuario o Contraseña equivocado.!</h1>
        <h1> ¡Vuelva a intentarlo!</h1>
        <a href="/login" class="btn btn-danger">Salir</a>
    </div>
</section>