<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">El usuario {{ user.first_name }}  {{user.last_name}} No es Premium!</h1>   
        <h1>Para poder se Premium necesita tener su Foto de Perfil actualizada y Cargar sus Documentos en el Siguiente enlace!</h1>
        <a href="/users/profile/documents" class="btn btn-danger">Volver a Intentarlo</a>
    </div>
</section>