<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">El usuario {{ user.first_name }}  {{user.last_name}} No es Premium!</h1>   
        <a href="/" class="btn btn-danger">Volver</a>
    </div>
</section>