<section class="noAutorizado">
    <div class="container login nonono">
        <h1 class="red">El Usuario con ese Teléfono ya existe.!</h1>
        <h1> ¡Vuelva a intentarlo!</h1>
        <a href="/signup" class="btn btn-primary">Volver</a>        
    </div>
</section>